obj
impb.vcxproj.user
Debug
Release
impb.opensdf
impb.sdf
impb.v12.suo
impb.vcxproj.filters
lite-test.vcxproj.filters
test_plugin.vcxproj.filters
protoc.vcxproj.filters
libprotobuf-lite.vcxproj.user
protobuf.sdf
UpgradeLog.htm
protobuf.v12.suo
libprotoc.vcxproj.filters
libprotobuf.vcxproj.filters
tests.vcxproj.filters
libprotobuf-lite.vcxproj.filters
/security/jni/vsproject/security.opensdf
/security/jni/vsproject/security.sdf
/security/jni/vsproject/security.v12.suo
/security/jni/vsproject/security.vcxproj.filters
/security/jni/vsproject/security.vcxproj.user
/test_pb/vsproject/ipch
/test_pb/vsproject/Debug
/test_pb/vsproject/test_pb.sdf
/test_pb/vsproject/test_pb.opensdf
/test_pb/vsproject/test_pb.v12.suo
/protobuf/jni/protobuf-2.6.1/vsprojects/*.opensdf
